

.show-grid{
    background-color: #262728;

}

.maindiv{
    color:white;

    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.contain{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #262728;

}

ul{
    list-style:none;
}

